:root {
    --scalerpx: calc((100vw - 375px) / 1065);
    --scalerrem: calc((100vw - 375rem/16) * 16 / 1065);
}

* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

body {
    font-family: Overpass, Ubuntu, Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #4B5862;
    text-align: center;
}

body * {
    border: 0.1px solid transparent;
}

#intro {
    color: white;
    padding-bottom: 160px;
    background-image: linear-gradient(to bottom, #FF8F70, #FF3D54);
    border-radius: 0 0 0 100px;
    overflow: hidden;
}

@media only screen and (min-width: 992px) {
    body {
        text-align: left;
    }
}

@media only screen and (min-width: 600px) {
    #intro {
        background-image: linear-gradient(to right, #FF8F70, #FF3D54);
    }
}

#intro-bg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
}

#intro-bg img {
    height: calc(929px + var(--scalerpx)*1301);
    top: calc(200px - var(--scalerpx)*176);
    right: calc(108px - var(--scalerpx)*108);
}

.cntner {
    max-width: 1148px;
    padding: 0 24px;
    margin: 0 auto;
}

header {
    margin-top: 54px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
}

#logo {
    height: calc(32px + var(--scalerpx)*8);
    margin-right: 64px;
}

#logo img {
    height: 100%;
}

nav {
    display: none;
}

#rght-nav {
    display: none;
}

@media only screen and (min-width: 992px) {
    nav {
        display: block;
    }

    #rght-nav {
        display: block;
        margin-left: auto;
    }
}

header ul {
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}

a { 
    text-decoration: none;
    color: white;
}

.drpdwn {
    display: none;
}

a.big-btn {
    display: block;
    min-width: 140px;
    padding: 13px;
    border-radius: 100px;
    border: 1.5px solid white;
    text-align: center;
    color: white;
    font-weight: 700;
}

a.big-btn.solid {
    background-color: white;
    color: #FF525D;
}


main {
    text-align: center;
}

main p {
    font-size: calc(1rem + var(--scalerrem)*0.3);
}

h1 {
    font-size: calc(2.3rem + var(--scalerrem)*1.3);
    /* font-size: max(2.3rem, 4vw); */
}

h1, h2, h3, h4 {
    margin-bottom: 24px;
    line-height: 120%;
    /* border: 0.1px solid violet; */
}

h2 {
    font-size: calc(1.7rem + var(--scalerrem)*0.7);
}

h3 {
    font-size: calc(1.3rem + var(--scalerrem)*0.3);
}

p {
    margin-bottom: 32px;
    letter-spacing: 0.6px;
    line-height: 160%;
}

#CTA {
    display: flex;
    gap: 16px;
    justify-content: center;
}

/****************** Sections part. Trying a grid layout. *************************/

:is(#sect1, #sect3) :is(h1, h2, h3, h4) {
    color: 	#1F3F5B;
}

:is(#sect1, #sect2, #sect3) p {
    margin-bottom: min(48px + var(--scalerpx)*32, 80px);
    /* 48 to 80 */
}

#sect1 {
    padding-top: min(110px + var(--scalerpx)*50, 160px);
    overflow: hidden;
    padding-bottom: 260px;
}

#sect1 .text p:last-of-type {
    margin-bottom: 0;
}

#sect1 h2 {
    margin-bottom: min(48px + var(--scalerpx)*72, 120px);
    /* 48 to 120 */
}

.text-art-wrap div {
    margin-left: auto;
    margin-right: auto;
}

.text {
    /* border: 0.1px solid blue; */
    max-width: 600px;
}

.art-img {
    max-width: 400px;
    /* border: 0.1px solid blue; */
}


.art-img {
    margin-bottom: 48px;
    /* 48 to 80 */
}

.art-img img {
    width: 100%;
}

/* .art-img.pc img {
    position: absolute
} */

.art-img.pc {
    display: none;
}

/* .cntner {
    border: 0.1px solid black;
}  */

@media only screen and (min-width: 992px) {
    #sect1 {
        border: 0.1px solid black;
    }

    #sect1 h2 {
        text-align: center;
    }

    .art-img.mob {
        display: none;
    }

    .text-art-wrap {
        border: 0.1px solid black;
        display: grid;
        grid-template-columns: 50% clamp(70px, 7vw, 100px) 1fr;
    }

    .text {
        /* border: 0.1px solid black; */
        grid-column: 1;
    }

    .art-img.pc {
        /* border: 0.1px solid black; */
        display: block;
        grid-column: 3;
        width: 100%;
    }

    .art-img.pc img {
        position: absolute;
        /* width: clamp(600px, 700px + 0.5*(100vw - 1240px), 800px); */
        width: clamp(550px, 56vw, 800px);
        height: auto;
        top: clamp(-240px, -16.7vw, -160px);
    }




    /* .text-art-wrap {
        gap: 80px;
        justify-content: left;
    }
    
    .text {
        width: 50%;
        order: 1;
    }

    .art-img {
        order: 2;
    }

    #sect1 .art-img {
        bottom: 80px;
    } */

}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }